{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <div class="content-center">
    <main>
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>

            {{ partial "subtitle.html" . }}

                {{- with .Site.Params.social }}
                    <div>
                        {{ partial "social-icons.html" . }}
                    </div>
                {{- end }}
            <span>CV:</span>
	    <!-- <a href="{{ .Site.BaseURL }}cv_tr.pdf">Türkçe</a> -->
            <a href="{{ .Site.BaseURL }}sukru_eren_gokirmak_cv_en.pdf">English</a>
        </div>
    </main>
    </div>
{{ end }}
